<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template">
<head>
    <meta charset="UTF-8"/>
    <title>Подтверждение</title>
    <link href="/css/genStyle.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
</head>
<body>
<div layout:fragment="content1">
    <div class="mainDivForInvoiceRes">
        <form method="get" th:action="@{http://localhost:8082/invoices/saveToPdf}">
            <input type="text" name="invoiceNumber" th:value="${invoice.invoiceNumber}" hidden="hidden"/>
            <button id="downloadBtn" type="submit"><i id="downloadIcon" class="fa fa-download" aria-hidden="true"></i>
            </button>
        </form>

        <div id="invoiceLabel">Счет (акт о сдаче-приемке услуг) №<span class="fontForNumbers"
                                                                       th:text="${invoice.invoiceNumber}"></span><span> от </span><span
                class="fontForNumbers" th:text="${formattedDateInvoice}"></span>
        </div>
        <table id="invoiceWithFlightInfTable">
            <tr>
                <td class="clmnF1">Номер рейса</td>
                <td class="clmnF2" th:text="${invoice.flight.flightNumber}"></td>
            </tr>
            <tr>
                <td class="clmnF1">Перевозчик (плательщик)</td>
                <td class="clmnF2" th:text="${invoice.flight.aircraft.airline.payerName}"></td>
            </tr>
            <tr>
                <td class="clmnF1">Тип ВС</td>
                <td class="clmnF2" th:text="${invoice.flight.aircraft.aircraftType}"></td>
            </tr>
            <tr>
                <td class="clmnF1">Максимальная взлетная масса</td>
                <td class="clmnF2" th:text="${invoice.flight.aircraft.MTOW}"></td>
            </tr>
            <tr>
                <td class="clmnF1">Маршрут следования</td>
                <td class="clmnF2"><span th:text="${depCity}"></span><span> - </span><span
                        th:text="${arrCity}"></span></td>
            </tr>
            <tr>
                <td class="clmnF1">Дата и время вылета</td>
                <td class="clmnF2"><span
                        th:text="${formattedDateDepDate}"></span><span> </span><span
                        th:text="${formattedDateDepTime}"></span></td>
            </tr>
            <tr>
                <td class="clmnF1">Дата и время прилета</td>
                <td class="clmnF2"><span
                        th:text="${formattedDateArrDate}"></span><span> </span><span
                        th:text="${formattedDateArrTime}"></span></td>
            </tr>
        </table>
        <div id="divForProvidedServices">
            <div class="trForInvoiceTable">
                <span id="airportTariffLabel" class="providedServiceCharacteristics">Аэропортовые и аэронавигационные тарифы</span>
                <span id="amountLabel" class="providedServiceCharacteristics">Количество</span>
                <span id="priceLabel" class="providedServiceCharacteristics">Стоимость</span>
            </div>
            <div th:if="${invoice.airportServices != null}" th:each="airportService:${invoice.airportServices}">
                <div class="divForProvServ">
                    <span class="providedServiceCharacteristics serviceNameWidth"
                          th:text="${airportService.service.name}"></span>
                    <span class="providedServiceCharacteristics amountWidth" th:text="${airportService.amount}"></span>
                    <span class="providedServiceCharacteristics priceWidth" th:text="${airportService.value}"></span>
                </div>
            </div>
            <div>
                <span class="providedServiceCharacteristics totalLabel">Итого:</span>
                <span class="providedServiceCharacteristics totalValue"
                      th:text="${invoice.totalCostOfAirportServ}"></span>
            </div>
            <div class="trForInvoiceTable"><span
                    id="groundHandlingTariffLabel">Тарифы за наземное обслуживание ВС</span></div>
            <div th:each="groundHandlingService:${invoice.groundHandlingServices}">
                <div class="divForProvServ">
                    <span class="providedServiceCharacteristics serviceNameWidth"
                          th:text="${groundHandlingService.service.name}"></span>
                    <span class="providedServiceCharacteristics amountWidth"
                          th:text="${groundHandlingService.amount}"></span>
                    <span class="providedServiceCharacteristics priceWidth"
                          th:text="${groundHandlingService.value}"></span>
                </div>
            </div>
            <div>
                <span class="providedServiceCharacteristics totalLabel">Итого:</span>
                <span class="providedServiceCharacteristics totalValue"
                      th:text="${invoice.totalCostOfGroundHandlingServ}"></span>
            </div>
            <div class="horizontal-line"></div>
            <div id="divForDiscount">
                <span class="providedServiceCharacteristics totalLabel">Скидка:</span>
                <span class="providedServiceCharacteristics totalValue" th:text="${invoice.discount}"></span>
                <span class="providedServiceCharacteristics greenFontClr" th:text="${currencySymbol}"></span>
            </div>
            <div id="divForTotal">
                <span class="providedServiceCharacteristics totalLabel">Итого:</span>
                <span class="providedServiceCharacteristics totalValue" th:text="${invoice.totalCost}"></span>
                <span class="providedServiceCharacteristics greenFontClr" th:text="${currencySymbol}"></span>
            </div>
        </div>
    </div>
</div>
</body>
</html>