<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="template">
<head>
  <meta charset="UTF-8">
  <title>Услуги</title>
  <link th:href="@{/css/genStyle.css}" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script type="text/javascript" src="../js/services.js" th:src="@{/js/services.js}"></script>
</head>
<body>
<div layout:fragment="content1">
  <div class="container mt-3">
    <div class="card mb">
      <div class="card-header head">Список услуг</div>
      <div class="card-body">
        <div class="search">
          <form id="formSearch" method="get" th:action="@{index}">
            <input id="searchField" type="text" class="col-11" name="keyword"
                   placeholder="   Введите название услуги" th:value="${keyword}">
            <button type="submit"/>
          </form>
        </div>
        <div></div>
        <div id="inline">
          <form id="formBtns">
            <input id="importBtn" type="file" accept="import/*, .xml" name="path" class="btn" onchange="getPathOfImportFile(this.files)">
            <label for="importBtn" class="importLabel">Импортировать</label>
            <a id="reload" class="btn" th:href="@{/services/index}"></a>
            <button type="button" id="filterForServices" class="btn"></button>
          </form>
          <form id="formFilter" method="post" th:action="@{/services/filterByServiceType}">
            <label id="serviceTypeLabel">Тип услуги:</label>
            <select id="serviceTypes" class="form-select" aria-label="Disabled select example"
                    name="serviceType">
              <option value="Услуги на наземное обслуживание">Услуги на наземное обслуживание</option>
              <option value="Аэропортовые услуги">Аэропортовые услуги</option>
            </select>
            <div><button id="applyBtn" type="submit">Применить</button></div>
          </form>
        </div>
        <div class="table-responsive">
          <table class="table serviceTable">
            <thead class="line">
            <tr class="text-center">
              <th id="nameServiceTD"><a id="sortedFieldByName" class="nav-link dropdown-toggle menu"
                     th:href="@{/services/sortByName}">Название</a></th>
              <th>Тип услуги</th>
              <th class="center">Тариф, BYN</th>
              <th id="actionTH">Действие</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-center" th:each="service:${listServices}">
              <td th:text="${service.getName()}"></td>
              <td th:text="${service.getServiceType()}"></td>
              <td class="center" th:text="${service.getTariff()}"></td>
              <td class="center">
                <a class="btn btn-primary output" th:href="@{/services/formUpdate(serviceId=${service.getId()})}"></a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>