<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="template">
<head>
  <meta charset="UTF-8">
  <title>Авиакомпании</title>
  <link th:href="@{/css/genStyle.css}" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script type="text/javascript" src="../js/airlines.js" th:src="@{/js/airlines.js}"></script>
</head>
<body>
<div layout:fragment="content1">
  <div class="container mt-3">
    <div class="card mb">
      <div class="card-header head">Список авиакомпаний</div>
      <div class="card-body">
        <div class="search">
          <form id="formSearch" method="get" th:action="@{index}">
            <input id="searchField" type="text" class="col-11" name="keyword"
                   placeholder="   Введите название авиакомпании" th:value="${keyword}">
            <button type="submit"/>
          </form>
        </div>
        <div></div>
        <div id="inline">
          <form id="formBtns">
            <input id="importBtn" type="file" accept="import/*, .xml" name="path" class="btn" onchange="getPathOfImportFile(this.files)">
            <label for="importBtn" class="importLabel">Импортировать</label>
            <a id="reload" class="btn" th:href="@{/airlines/index}"></a>
          </form>
        </div>
        <div class="table-responsive">
        <table class="table airline">
          <thead class="line">
          <tr class="text-center">
            <th><a id="sortedFieldByName" class="nav-link dropdown-toggle menu"
                   th:href="@{/airlines/sortByName}">Название</a></th>
            <th id="payerNameTH"><a id="sortedFieldByPayerName" class="nav-link dropdown-toggle menu"
                                    th:href="@{/airlines/sortByPayerName}">Полное название (плательщик)</a></th>
            <th id="countryCodeTH">Код страны</th>
            <th>Адрес</th>
            <th>Номер телефона</th>
            <th>email</th>
            <th id="actionTH">Действие</th>
          </tr>
          </thead>
          <tbody>
          <tr class="text-center" th:each="airline:${listAirlines}">
            <td th:text="${airline.getName()}"></td>
            <td th:text="${airline.getPayerName()}"></td>
            <td class="center" th:text="${airline.getCountryCode()}"></td>
            <td th:text="${airline.getAddress()}"></td>
            <td th:text="${airline.getPhone_number()}"></td>
            <td th:text="${airline.getEmail()}"></td>
            <td class="center">
              <a class="btn btn-primary output" th:href="@{/airlines/formUpdate(airlineId=${airline.getId()})}"></a>
            </td>
          </tr>
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>