#flightIcon, #serviceIcon {
    margin-left: 8px;
}
#invoiceIcon {
    margin-left: 13px;
}
#archiveIcon {
    margin-left: 9px;
}
#blackFont {
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.9);
    width: 1015px;
    height: 640px;
    margin-left: 110px;
    position: relative;
    top: -15px;
}
#mainDiv {
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 915px;
    height: 550px;
    margin-top: 17px;
    margin-left: 50px;
    position: relative;
    top: 40px;
    padding: 25px;
}
.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}

.circle img {
    width: 100%;
    height: auto;
}
table {
    color: white;
    font-size: 24px;
    font-family: Georgia;
}
#tableForUser {
    margin-left: 300px;
    margin-top: -200px;
}
#table {
    margin-left: 300px;
    margin-top: -155px;
}
.font {
    font-family: "Century751 SeBd BT";
}
.col1 {
    width: 300px;
    height: 45px;
}
#personalData {
    margin-top: 50px;
    color: white;
    font-size: 28px;
    font-family: Georgia;
}
#update:before{
    content: "\f040";
    font-family: FontAwesome;
    font-size: 24px;
    color: black;
}
#update:hover {
    background-color: rgba(166, 165, 165);
}
#update {
    margin-top: -70px;
    margin-left: 230px;
}
#cardsBtn {
    position: absolute;
    top: 310px;
    left: 330px;
    width: 165px;
    height: 50px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    font-family: Georgia;
}
#cardsBtn:hover {
    background-color: rgba(166, 165, 165);
}
#ordersBtn{
    position: absolute;
    top: 370px;
    left: 330px;
    width: 165px;
    height: 50px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    font-family: Georgia;
}
#ordersBtn:hover {
    background-color: rgba(166, 165, 165);
}