#searchField {
    height: 40px;
    border-radius: 15px;
    border: 0;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
form {
    position: relative;
    width: 300px;
    margin: 0 auto;
}
.search:after {content:""; clear:both; display:table}
.search form {
    width: auto;
    margin-right: 30px;
}
.search input {
    width: 100%;
    height: 42px;
    padding-left: 15px;
    border-radius: 42px;
    border: 2px solid #324b4e;
    background: white;
    outline: none;
    position: relative;
}
.search button {
    width: 42px;
    height: 42px;
    border: none;
    position: absolute;
    top: -2px;
    right: 0;
    background-color: #B8DAD3;
    border-radius: 0px 15px 15px 0px;
}
.search button:before{
    content: "\f002";
    font-family: FontAwesome;
    color: black;
}
.search button:hover{
    background-color: #97BFB7;
    border-radius: 0px 15px 15px 0px;
}
#logo {
    display: none;
}
.error {
    box-shadow: 0 0 5px rgba(255, 63, 63, 0.7);
}
#formSearch {
    margin-bottom: 20px;
    margin-right: 10px;
}
@charset "UTF-8";
.errorLabel {
    color: red;
}
#errorLabel {
    display: none;
}
#errorLabelTransfer {
    display: none;
}
#nameOfCityError {
    display: none;
}
#transferError {
    display: none;
}
.btn-danger {
    background-color: rgba(272, 77, 77);
    cursor: pointer;
}
.output{
    background-color: #B8DAD3;
    border-color: #B8DAD3;
    cursor: pointer;
}
.output:hover {
    background-color: #97BFB7;
    border-color: #97BFB7;
}
.download:before {
    content: "\f0ed";
    font-family: FontAwesome;
    font-size: 40px;
    color: #1EC1F7;
    position: relative;
    top: -13px;
    left: -9px;
}
.download {
    height: 45px;
    width: 50px;
}
.download:hover {
    color: #2096BE;
    background-color: #CBD3D5;
}
.createFile:before {
    content: "\f1c1";
    font-family: FontAwesome;
    font-size: 30px;
    color: black;
    position: relative;
    top: -8px;
    left: -10px;
}
.createFile {
    height: 45px;
    width: 33px;
}
.createFile:hover {
    background-color: #CBD3D5;
}
.btn-danger:before{
    content: "\f014";
    font-family: FontAwesome;
    font-size: 20px;
    color: black;
}
.output:before{
    content: "\f040";
    font-family: FontAwesome;
    font-size: 20px;
    color: black;
}
.btn-outline-dark {
    height: 44px;
}
#form {
    margin-bottom: 20px;
}
#transfersLabel {
    font-size: 30px;
}
.mainFont {
    background-color: rgba(0, 0, 0, 0.8);
}
.head {
    color: white;
    font-family: Georgia;
    background-color: black;
}
#createBtn:before{
    content: "\f067";
    font-family: FontAwesome;
    font-size: 20px;
    color: black;
}
#createBtn, #importBtn{
    position: absolute;
    text-decoration: none;
    border-color: black;
    height: 43px;
}
#createBtn:hover, #importBtn:hover {
    background-color: #A6A5A5;
    border-radius: 5px;
}
#createBtnInvoice:before{
    content: "\f067";
    font-family: FontAwesome;
    font-size: 20px;
    color: black;
}
#createBtnInvoice{
    position: relative;
    left: 8px;
    text-decoration: none;
    border-color: black;
    height: 43px;
}
#createBtnInvoice:hover {
    background-color: #A6A5A5;
    border-radius: 5px;
}
#create, #createTransitFlight, #next {
    background-color: #A358E0;
    border-color: transparent;
    box-shadow: 0px 0px 8px rgba(0, 0, 0);
}
#create:hover, #createTransitFlight:hover, #next:hover {
    background-color: #7C44AA;
}
#update {
    background-color: #97BFB7;
    border-color: transparent;
    box-shadow: 0px 0px 8px rgba(0, 0, 0);
    margin-top:10px;
    margin-bottom: 15px;
}
#update:hover {
    background-color: #7BAFA5;
}
#sortedFieldByName, #sortedFieldByPayerName,#sortedFieldByPassengerCapacity, #sortedFieldByMTOW, #sortedFieldByDate, #sortedFieldByInvoiceNumber, #sortedFieldByInvoiceCreationDate {
    position: relative;
    top: 7px;
    text-decoration: none;
    color:black;
}
#filterForAircrafts:before, #filterForFlights:before, #filterForServices:before, #filterForEmployees:before, #filterForInvoices:before{
    content: '';
    background-image: url("../images/filter.png");
    background-size: cover;
    width: 34px;
    height: 34px;
    position: absolute;
    top: 5px;
    left: 4px;
}
#filterForAircrafts, #filterForFlights, #filterForServices, #filterForEmployees, #filterForInvoices{
    text-decoration: none;
    width: 44px;
    height: 44px;
    border-color: black;
    border-radius: 5px;
    position: relative;
    left: 16px;
}
#filterForEmployees {
    position: relative;
    left: 6px;
    top: -2px;
}
#filterForInvoices {
    position: relative;
    left: 16px;
}
#filterForAircrafts:hover, #filterForFlights:hover, #filterForServices:hover, #filterForEmployees:hover, #filterForInvoices:hover {
    background-color: rgba(166, 165, 165, 0.6);
}
#rating1, #rating2 {
    width: 50px;
    height: 30px;
    margin: 0 10px 5px 0px;
}
#date1, #date2, #time1, #time2 {
    margin: 0 10px 5px 0px;
}
#directions, #types {
    margin-top: 7px;
}
#types {
    margin-right: 10px;
}
#ratingLabel, #ratingLabel2, #airlineLabel, #paymentStatusLabel {
    font-family: Georgia;
    font-size: 17px;
    padding-bottom: 5px;
}
.inputs {
    display: flex;
}
#applyBtn, #applyBtn2 {
    background-color: #B8DAD3;
    border-radius: 6px;
    border-color: #B8DAD3;
    color: white;
    position: relative;
    top: 7px;
}
#applyBtn:hover, #applyBtn2:hover {
    background-color: #A5C8C1;
    border-radius: 5px;
}
#inline {
    display: flex;
}
#formFilterForFlights, #formFilterForInvoices {
    display: table;
}
#directionDiv {
    position: relative;
    right: 10px;
}
.cell {
    display: table-cell;
    padding-right: 10px;
}
#formFilter, #formFilter2, #formFilterForFlights {
    display: none;
    position: relative;
    top: -5px;
    left: -490px;
}
#formFilterForInvoices {
    display: none;
    position: relative;
    top: -5px;
    left: -510px;
}
#formFilterForFlights {
    float: left;
}
#reload:before, #reloadEmp:before, #reloadInvoice:before{
    content: '';
    background-image: url("../images/reload.png");
    background-size: cover;
    width: 28px;
    height: 28px;
    position: absolute;
    top: 7px;
    left: 7px;
}
#reload{
    width: 44px;
    height: 44px;
    border-color: black;
    border-radius: 5px;
    position: relative;
    left: 15px;
}
#sendInvoice:before {
    content: "\f003";
    font-family: FontAwesome;
    font-size: 30px;
    color: black;
    position: relative;
    top: -8px;
    left: -6px;
}
#sendInvoice {
    width: 44px;
    height: 44px;
    border-color: black;
    border-radius: 5px;
    position: relative;
    left: 20px;
}
#reloadEmp {
    width: 44px;
    height: 44px;
    border-color: black;
    border-radius: 5px;
    position: relative;
    top: -3px;
    left: 50px;
}
#reloadInvoice {
    width: 44px;
    height: 44px;
    border-color: black;
    border-radius: 5px;
    position: relative;
    left: 13px;
}
#reload:hover, #reloadEmp:hover, #reloadInvoice:hover, #sendInvoice:hover {
    background-color: rgba(166, 165, 165, 0.6);
}
#formBtns {
    position: relative;
    left: -315px;
}
#formBtnsEmp {
    position: relative;
    left: -435px;
}
#formBtnsInvoice {
    position: relative;
    left: -445px;
}
#filterForDirectFlight:before{
    content: '';
    background-image: url("../images/filter.png");
    background-size: cover;
    width: 34px;
    height: 34px;
    position: absolute;
    top: 3px;
    left: 3px;
}
#filterForDirectFlight{
    position: relative;
    top: -4px;
    text-decoration: none;
    width: 44px;
    height: 44px;
    border-color: black;
    border-radius: 5px;
    background-color: white;
}
#filterForDirectFlight:hover {
    background-color: rgba(166, 165, 165, 0.6);
}
input[type="file"]{
    display: none;
}
.importLabel{
    display: inline-block;
    text-align: center;
    border: 1px solid black;
    border-radius: 3px;
    background-color: white;
    color: black;
    padding: 10px 10px;
    font-size: 15px;
    user-select: none;
    cursor: pointer;
    position: absolute;
    left: -122px;
}
.importLabel:hover{
    background-color: rgba(166, 165, 165, 0.6);
}
.flightTable {
    width: 1170px;
    margin-top: -20px;
    margin-left: 20px;
    table-layout: fixed;
}
.invoiceTable {
    width: 1200px;
    margin-top: -10px;
    margin-left: 10px;
    table-layout: fixed;
}
.mb {
    margin-bottom: 20px;
}
#actionTH, #countryCodeTH {
    width: 120px;
}
#payerNameTH{
    width: 290px;
}
#flightIcon, #serviceIcon {
    margin-left: 8px;
}
#invoiceIcon {
    margin-left: 13px;
}
#archiveIcon {
    margin-left: 9px;
}
table td {
    text-align: left;
}
.center {
    text-align: center;
}
#types {
    width: 170px;
}
.actionWithMore {
    width:220px;
}
#mainContentForMoreDetails {
    width: 500px;
    height: 970px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.8);
    position: relative;
    top: 480px;
    left: 50%;
    margin-bottom: 15px;
    color: white;
    transform: translate(-50%, -50%);
}
#formMoreDetailDiv {
    margin-left: 30px;
    padding-top: 20px;
}
.divForFlightField {
    margin-bottom: 10px;
}
.labelForFlightField {
    font-size: 19px;
    color: #ABFBEB;
}
.serviceTable {
    table-layout: fixed;
}
.providedServiceTable {
    margin-top: 48px;
    table-layout: fixed;
}
#nameServiceTD {
    width: 600px;
}
#serviceTypes {
    width: 310px;
}
#iconForProvidedServices {
    position: relative;
    top: 3px;
}
#tariffTD {
    width: 120px;
}
#amountTD {
    width: 110px;
}
.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}

.circle img {
    width: 100%;
    height: auto;
}
#divForEmployees {
    position: relative;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    padding: 20px;
    height: 250px;
}
#employeeName {
    color: white;
    font-size: 20px;
    position: relative;
    top: -175px;
    margin-left: 180px;
}
#positionEmp {
    width: 250px;
    position: relative;
    top: -130px;
    left: 180px;
}
.labelEmp {
    font-size: 14px;
    margin-bottom: 10px;
}
.minDivs {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    color: white;
    font-size: 17px;
    padding: 20px;
}
#emailEmp {
    width: 250px;
    position: relative;
    top: -225px;
    left: 460px;
}
#phoneNumberEmp {
    width: 250px;
    position: relative;
    top: -321px;
    left: 740px;
}
#deleteEmp {
    position: relative;
    top: 40px;
    left: 10px;
    font-size: 22px;
    color: white;
    padding: 3px;
}
#deleteEmp:hover {
    background-color: #A6A5A5;
    border-radius: 5px;
}
#registrationDiv {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    height: 620px;
    width: 800px;
    position: relative;
    left: 200px;
}
#imgForRegistration {
    height: 620px;
    width: 400px;
    border-radius: 20px;
    position: relative;
    top: -16px;
    right: 16px;
}
#imgForRegistration img {
    width: 100%;
    height: auto;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
#cover {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    width: 800px;
    height: 620px;
    position:relative;
    top: -618px;
}
#labelForRegistration {
    color: white;
    font-size: 25px;
    position: relative;
    top: 90px;
    margin-left: 455px;
}
.inputForRegistration {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #B8DAD3;
    color: white;
    font-size: 18px;
    font-family: Georgia;
    width: 334px;
    height: 43px;
}
.inputForRegistration:focus {
    outline: none;
    border-bottom: 1px solid white;
}
.blue:focus {
    box-shadow: none;
    color: black;
}
#registrationWrapper {
    position: relative;
    top: 170px;
    margin-left: 430px;
    color: white;
}
#roles {
    color: grey;
}
#signUp {
    margin-left: 66px;
    background-color: #B8DAD3;
    font-family: Georgia;
    font-size: 18px;
    color: white;
    border:none;
    border-radius:15px;
    width: 200px;
    height: 35px;
    position: relative;
    top: 50px;
}
#signUp:hover {
    background-color: #95B7B1;
}
#registrationForm {
    margin-right: 65px;
}
#sortByLastNameEmp{
    margin-left: 55px;
    text-decoraton: none;
    width: 44px;
    height: 44px;
    border-width: 0.6px;
    border-radius: 5px;
    background-color: white;
    position: relative;
}
#sortByLastNameEmp:hover {
    background-color: rgba(166, 165, 165, 0.6);
}
.errorMessage {
    text-align: center;
}
#errorMessage1 {
    display: none;
    margin-top: 210px;
    font-family: Georgia;
    font-size: 22px;
    font-weight: bold;
    font-color: black;
}
#errorMessage2 {
    margin-top: 210px;
    font-family: Georgia;
    font-size: 22px;
    font-weight: bold;
    font-color: black;
}
.paymentState{
    width: 135px;
    cursor: pointer;
}
option {
    background-color: white;
    color: black;
}
.mainDivForInvoice {
    margin-left: 100px;
    min-height: 640px;
    background-color: white;
    width: 1080px;
    padding: 25px;
}
.column1 {
    position: relative;
    left: -350px;
    width: 300px;
    min-height: 500px;

}
.column2 {
    position: absolute;
    top: 0px;
    left: -10px;
    width: 570px;
    min-height: 600px;
}
.scrollable-div {
    width: 660px;
    height: 200px;
    overflow: auto;
    background-color: rgba(184, 218, 211, 0.3);
    padding: 10px;
    border-radius: 8px;
}
.scrollable-div2 {
    width: 660px;
    height: 330px;
    overflow: auto;
    background-color: rgba(184, 218, 211, 0.3);
    padding: 10px;
    border-radius: 8px;
}
#saveBtnInvoice {
    background-color: #97BFB7;
    border-color: transparent;
    box-shadow: 0px 0px 8px rgba(0, 0, 0);
    position: relative;
    top: 70px;
    left: 5px;
}
#saveBtnInvoice:hover {
    background-color: #7BAFA5;
}
.whiteColor {
    color: white;
    font-family: Georgia;
}
#closeInvoice{
    position:  relative;
    top: -20px;
    left: 5px;
}
#okModalInvoice{
    background-color: #B8DAD3;
    color: white;
    font-family: Georgia;
    border: none;
    position: relative;
    top: 8px;
    left: 405px;
    width: 60px;
}
#okModalInvoice:hover {
    background-color: #97BFB7;
}
.divForServ {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    margin: 5px;
    padding: 3px;
}
.checkbox:checked {
    background-color: #7BAFA5;
    border-color: #7BAFA5;
    box-shadow: #7BAFA5;
}
.widthForAmount {
    width: 75px;
}
.widthForService {
    width: 530px;
}
.labelAmount {
    position: relative;
    left: 373px;
}
#invoiceLabel {
    font-size: 20px;
    margin-left: 250px;
}
.fontForNumbers {
    font-family: "Century751 SeBd BT";
}
#invoiceWithFlightInfTable {
    position: relative;
    top: 20px;
    width: 800px;
    table-layout: fixed;
}
.clmnF1 {
    width: 150px;
}
.clmnF2 {
    width: 150px;
}
.providedServiceCharacteristics {
    display: inline-block;
}
#divForProvidedServices {
    width: 1050px;
    background-color: rgba(184, 218, 211, 0.3);
    padding: 10px;
    border-radius: 8px;
    position: relative;
    top: 30px;
    margin-bottom: 20px;
}
.divForProvServ {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    margin: 5px;
    padding: 3px;
}
.serviceNameWidth {
    width: 790px;
}
.amountWidth {
    width:100px;
    text-align: center;
}
.priceWidth {
    width: 87px;
    text-align: center;
}
.mainDivForInvoiceRes {
    font-family: Geargia;
    font-size: 16px;
    margin-left: 70px;
    min-height: 640px;
    background-color: white;
    width: 1100px;
    padding: 25px;
    margin-bottom: 20px;
}
#amountLabel {
    position: relative;
    left: 450px;
}
#priceLabel {
    position: relative;
    left: 458px;
}
.trForInvoiceTable {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 35px;
    background-color: rgba(159, 190, 184);
    margin: 5px;
    padding: 5px;
    font-size: 18px;
}
.totalValue, .totalLabel {
    color: #4A5A56;
    font-size: 17px;
}
.totalLabel {
    position: relative;
    left: 8px;
    width: 904px;
}
.totalValue {
    width: 75px;
    text-align: center;
    position: relative;
    left: 4px;
}
.horizontal-line {
    border-top: 1px solid #4A5A56;
    width: 100%;
}
#divForDiscount {
    font-size: 18px;
    margin-top: 8px;
}
#divForTotal {
    font-size: 18px;
}
.greenFontClr {
    color: #4A5A56;
}
#downloadBtn {
    position: relative;
    top: -10px;
    left: 620px;
    background-color: transparent;
    border-color: transparent;
    position: absolute;
}
#downloadBtn:hover {
    background-color: rgba(166, 165, 165, 0.5);
    border-radius: 5px;
}
#downloadIcon {
    margin-top: 7px;
    font-size: 40px;
    color: rgba(159, 190, 184);
}
.airlinesFilter {
    width: 200px;
    cursor: pointer;
}