table {
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: center;
}

th {
    background-color: #a4a6a5;
    color: black;
    font-weight: 600;
}

input[type="date"] {
    width: 100%;
}
.container {
    width: 100%;
    background-color: white;
    padding: 25px;
    min-height: 585px;
    display: flex;
}
#weeksDays {
    width: 200px;
    background-color: #e6faf6;
    margin-bottom: 20px;
}
.minus-btn {
    border-radius: 5px;
}
.minus-btn:hover {
    background-color: rgba(166, 165, 165, 0.6);
}
.column {
    flex: 1;
}
.close{
    border: none;
    background-color: transparent;
    font-size: 24px;
    color: white;
    position:  relative;
    top: -10px;
}
.close:hover {
    background-color: rgba(166, 165, 165);
}
.modal-header {
    color: white;
    font-family: Georgia;
    font-size: 16px;
}
.modalDiv {
    margin-bottom: 10px;
}
.modalInput {
    width: 160px;
}
#okModalRushHour{
    background-color: #B8DAD3;
    color: white;
    font-family: Georgia;
    border: none;
    position: relative;
    left: 405px;
    width: 60px;
}
#okModalRushHour:hover {
    background-color: #97BFB7;
}
