#side_nav{
    background: #000;
    min-width: 251px;
    max-width: 251px;
    transition: all 0.3s;
}
.content{
    min-height: 100vh;
    width: 100%;
    background: #B8DAD3;
}
hr.h-color{
    background: #eee;
}

.sidebar {
    width: 800px;
}

.sidebar li:hover, .sidebar li.active{
    background: #eee;
    border-radius: 8px;
}

.sidebar li:hover a, .sidebar li.active a, .sidebar li.active a:hover {
    color: #000;
}
.sidebar li a {
    color: #fff;
}

@media(max-width: 767px){
    #side_nav{
        margin-left: -250px;
        position: absolute;
        min-height: 100vh;
        z-index: 1;

    }
    #side_nav.active{
        margin-left: 0;
    }
}

.profileLine {
    background-color: black;
}

.user:before{
    content: '';
    background-image: url("../images/profile.png");
    background-size: cover;
    width: 36px;
    height: 36px;
    position: absolute;
    left: 4px;
    bottom: 5px;
}
.user{
    text-decoration: none;
    width: 46px;
    height: 46px;
    position: absolute;
    left: 1180px;
}
.user:hover {
    background-color: rgba(166, 165, 165, 0.6);
}

.logout:before{
    content: '';
    background-image: url("../images/logout.png");
    background-size: cover;
    width: 34px;
    height: 36px;
    position: absolute;
    left: -1px;
    bottom: 5px;
}
.logout{
    text-decoration: none;
    width: 36px;
    height: 46px;
    position: relative;
    right: 0px;
}
.logout:hover {
    background-color: rgba(166, 165, 165, 0.6);
}

.later{
    border: none;
    background-color: transparent;
    font-size: 24px;
    color: white;
    position:  relative;
    top: 10px;
    left: 455px;
}
.modal-body, .modal-footer {
    color: white;
    font-family: Georgia;
    font-size: 16px;
}
#formForModal {
    margin-top: 20px;
    margin-left: 330px;
}
.out {
    width: 60px;
}
#out{
    background-color: #B8DAD3;
    color: white;
    font-family: Georgia;
    border: none;
}
#out:hover{
    background-color: #97BFB7;
}
#flightIcon, #serviceIcon {
    margin-left: 8px;
}
#invoiceIcon {
    margin-left: 13px;
}
#archiveIcon, #clockIcon {
    margin-left: 9px;
}
#clock {
    font-size: 20px;
}
#proofOfPaymentIcon {
    margin-left: 9px;
}