<!doctype html>
<html>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Новый пароль</title>
    <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' rel='stylesheet'>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css' rel='stylesheet'>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <style>
        body {
            background-color: #eee;
        }
        .placeicon {
            font-family: fontawesome
        }
        #resetDiv {
            margin-bottom: 50px;
        }
        #confirmDiv {
            margin-bottom: 50px;
        }
        #saveBtn {
            background-color: #97BFB7;
            color: white;
        }
        #saveBtn:hover {
            background-color: #7BAFA5;
        }
        .error {
            box-shadow: 0 0 5px rgba(255, 63, 63, 0.7);
        }
        .errorLabel {
            color: rgba(255, 96, 96, 0.7);
            font-size: 14px;
            display: none;
        }
    </style>
</head>
<body class='snippet-body'>
<div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6 mt-5">
                <div class="container bg-white rounded mt-2 mb-2 px-0">
                    <div id="resetDiv" class="row justify-content-center align-items-center pt-3">
                        <h1>
                            <strong>Сброс пароля</strong>
                        </h1>
                    </div>
                    <div class="pt-3 pb-3">
                        <form class="form-horizontal" th:action="@{/newPassword}" method="POST">
                            <div class="form-group row justify-content-center px-3">
                                <div class="col-9 px-0">
                                    <input id="password" type="password" name="password" placeholder="&#xf084; &nbsp; Новый пароль"
                                           class="form-control border-info placeicon" pattern="^(?=.*[A-Z].*[A-Z])(?=.*[0-9])(?=.*[a-z])[0-9a-zA-Z]{8,30}|#$" required>
                                    <label id="passwordError" class="errorLabel">Поле должно содержать хотя бы 2 заглавные буквы
                                        латинского алфавита, строчные и цифры (симв > 8)</label>
                                </div>
                            </div>
                            <div id="confirmDiv" class="form-group row justify-content-center px-3">
                                <div class="col-9 px-0">
                                    <input id="confPassword" type="password" name="confPassword"
                                           placeholder="&#xf084; &nbsp; Подтверждение нового пароля"
                                           class="form-control border-info placeicon">
                                    <label id="passwordConfirmationError" class="errorLabel">Поле 'Подтверждение пароля' не
                                        совпадает с полем 'Пароль'</label>
                                </div>
                            </div>
                            <div class="form-group row justify-content-center">
                                <div class="col-3 px-3 mt-3">
                                    <input id="saveBtn" type="submit" value="Сохранить"
                                           class="btn btn-block">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type='text/javascript' src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js'></script>
<script>
    let saveBtn = document.getElementById('saveBtn');
    let passwordConfirmationError = document.getElementById('passwordConfirmationError');
    let password = document.getElementById('password');
    let confPassword  = document.getElementById('confPassword');
    let passwordError = document.getElementById('passwordError');
    saveBtn.addEventListener('click', function (event) {
        if (password.value !== confPassword.value) {
            event.preventDefault();
            passwordConfirmationError.style.display = 'block';
            confPassword.classList.add('error');
        }
    });
    password.addEventListener('invalid', function(event){
        event.preventDefault();
        if ( ! event.target.validity.valid ) {
            passwordError.style.display = 'block';
            password.classList.add('error');
        }
    });
</script>
</body>
</html>